DATABASE_URL="postgresql://postgres:postgres@localhost:5432/delivery_calculator"
YANDEX_GEOCODER_API_KEY=""
YANDEX_GEOSUGGEST_API_KEY=""
YANDEX_ROUTER_API_KEY=""
NEXT_PUBLIC_YANDEX_MAPS_API_KEY=""
AUTH_SECRET="replace-with-at-least-32-random-characters"
ADMIN_EMAIL="admin@example.ru"
ADMIN_PASSWORD="change-me-now"
